#spring.application.name=ServiceScore
server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ServiceScoreDB #tên database
    username: postgres #user postgres
    password: trankimhieu123 #Mat khau
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
